:root{
	--calendar-bg:transparent;
	--calendar-day-bg:#eee;
	--calendar-day-bg-hover: #222;
	--calendar-day-col: #222;
	--calendar-day-col-hover: #eee;
	--calendar-month-size:20px;
	--calendar-day-size:16px;
	--calendar-weekday-size:12px;
	--calender-margin-sides: 10px;
}
.calendar{
	height: 100%;
	width:100%;
	background: var(--calendar-bg);
}
.month{
	display: none;
}
.days{
	margin: 5px var(--calender-margin-sides);
}
.day, .day-invisible{
	box-sizing: border-box;
	width: calc(100% / 7);
	padding: 5px;
	border: 1px solid #fff;
	display: inline-block;
}
.day{
	background-color: var(--calendar-day-bg);
}
.day span, .day .event{
	color: var(--calendar-day-col)
}
.day:hover{
	background-color: var(--calendar-day-bg-hover);
}
.day:hover span, .day:hover .event{
	color: var(--calendar-day-col-hover)
}
.day-invisible{
	background: transparent;
}
.date{
	float: right;
	font-size: var(--calendar-day-size);
}
.weekday{
	font-size: var(--calendar-weekday-size);
}
.wowd{

	float: none;
}
.event{
	display: block;
}
.head{
	display: flex;
	justify-content: space-between;
}
.monthname{
	text-align: center;
	font-size:var(--calendar-month-size);
}
.prev, .next{
	background-color: transparent;	
	font-size: var(--calendar-month-size);
}
.prev{margin-left: 10px;}
.next{margin-right: 10px;}

@media screen and (max-width: 992px){
	.prev, .next{
		margin: 0px;
		min-width: 40px;
		min-height: 40px;
	}
}