:root{
	--calendar-bg:transparent;
	--calendar-day-bg:#eee;
	--calendar-day-bg-hover: #222;
	--calendar-day-col: #222;
	--calendar-day-col-hover: #eee;
	--calendar-month-size:42px;
}
.calendar{
	height: 100%;
	width:100%;
	background: var(--calendar-bg);
}
.month{
	display: none;
}
.day, .day-invisible{
	box-sizing: border-box;
	width: calc(100% / 7 - 2px);
	padding: 5px;
	border: 1px solid #fff;
	display: inline-block;
}
.day{
	background-color: var(--calendar-day-bg);
}
.day span{
	color: var(--calendar-day-col)
}
.day:hover{
	background-color: var(--calendar-day-bg-hover);
}
.day:hover span{
	color: var(--calendar-day-col-hover)
}
.day-invisible{
	background: transparent;
}
.monthname{
	text-align: center;
	font-size:var(--calendar-month-size);
}
.prev, .next{
	background-color: transparent;	
}