:root{
	--calendar-bg:transparent;
	--calendar-day-bg:#eee;
	--calendar-day-bg-hover: #222;
	--calendar-day-col: #222;
	--calendar-day-col-hover: #eee;
	--calendar-month-size:20px;
}
.calendar{
	height: 100%;
	width:100%;
	background: var(--calendar-bg);
}
.month{
	display: none;
}
.day, .day-invisible{
	box-sizing: border-box;
	width: calc(100% / 7 - 2px);
	padding: 5px;
	border: 1px solid #fff;
	display: inline-block;
}
.day{
	background-color: var(--calendar-day-bg);
}
.day span{
	color: var(--calendar-day-col)
}
.day:hover{
	background-color: var(--calendar-day-bg-hover);
}
.day:hover span{
	color: var(--calendar-day-col-hover)
}
.day-invisible{
	background: transparent;
}
.head{
	display: flex;
	justify-content: space-between;
}
.monthname{
	text-align: center;
	font-size:var(--calendar-month-size);
}
.prev, .next{
	background-color: transparent;	
	font-size: var(--calendar-month-size);
}
.prev{margin-left: 10px;}
.next{margin-right: 10px;}

@media screen and (max-width: 992px){
	.prev, .next{
		margin: 0px;
		min-width: 40px;
		min-height: 40px;
	}
}